{% extends './base-admin.html' %}


<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/formulario.css')}}">
{% endblock stylesheets %}


{% block content %}

<div class="container-fluid py-4">
  <form id="formulario_user" action="" method="POST">
      <div class="row">
          <div class="col-md-12">

            <div class="card">

                <div class="card-header pb-0">

                  <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Perfil</h1>
                  </div>

                </div>
                <div class="card-body">
                    <p class="text-uppercase formulario__text">Información de usuario</p>
                    <div class="row">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <div class="col-md-6">
                          <!-- Grupo: Username -->
                          <div class="formulario__grupo" id="grupo__username">
                              <label for="username" class="formulario__label">Username</label>
                              <div class="formulario__grupo-input">
                                  <input type="text" class="form-control" name="username" id="username">
                                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                              </div>
                              <p class="formulario__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
                          </div>
                        </div>
                    
                        <div class="col-md-6">
                           <!-- Grupo: Email -->
                          <div class="formulario__grupo" id="grupo__email">
                              <label for="email" class="formulario__label">Email</label>
                              <div class="formulario__grupo-input">
                                  <input type="email" class="form-control" name="email" id="email">
                                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                              </div>
                              <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
                          </div>
                        </div>
                        
                        <div class="col-md-6">
                           <!-- Grupo: Name -->
                          <div class="formulario__grupo" id="grupo__name">
                            <label for="name" class="formulario__label">Nombres</label>
                            <div class="formulario__grupo-input">
                                <input type="text" class="form-control" name="name" id="name" >
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">Los nombre no debe de llevar valores alfanúmericos.</p>
                          </div>
                        </div>

                        <div class="col-md-6">
                            <!-- Grupo: Name_Last -->
                            <div class="formulario__grupo" id="grupo__last">
                              <label for="last" class="formulario__label">Apellidos</label>
                              <div class="formulario__grupo-input">
                                  <input type="text" class="form-control" name="last" id="last" >
                                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                              </div>
                              <p class="formulario__input-error">Los apellidos no debe de llevar valores alfanúmericos.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <!-- Grupo: Cedula -->
                            <div class="formulario__grupo" id="grupo__cedula">
                              <label for="cedula" class="formulario__label">Cédula</label>
                              <div class="formulario__grupo-input">
                                  <input type="text" class="form-control" name="cedula" id="cedula" >
                                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                              </div>
                              <p class="formulario__input-error">La cedula tiene que tener entre 9 a 10 digitos.</p>
                            </div>
                         </div>

                        <div class="col-md-6">
                            <!-- Grupo: Binance -->
                            <div class="formulario__grupo" id="grupo__binance">
                                <label for="binance" class="formulario__label">Binance</label>
                                <div class="formulario__grupo-input">
                                    <input type="text" class="form-control" name="binance" id="binance" >
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">El id de binance tiene que tener entre 9 a 10 digitos.</p>
                            </div>
                        </div>

                    </div>

                    <hr class="horizontal dark">
                    
                    <p class="text-uppercase formulario__text">Información de contacto</p>

                    <div class="row">

                        <div class="col-md-12">
                            <!-- Grupo: Direccion -->
                            <div class="formulario__grupo" id="grupo__address">
                              <label for="direccion" class="formulario__label__direccion">Dirección</label>
                              <div class="formulario__grupo-input">
                                  <input type="text" class="form-control" name="address" id="address" >
                                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                              </div>
                              <p class="formulario__input-error">Ingrese bien la dirección.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                           <!-- Grupo: Cuidad -->
                            <div class="formulario__grupo" id="grupo__cuidad">
                                <label for="cuidad" class="formulario__label">Cuidad</label>
                                <div class="formulario__grupo-input">
                                    <input type="text" class="form-control" name="cuidad" id="cuidad" >
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese bien la cuidad.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <!-- Grupo: Pais -->
                            <div class="formulario__grupo" id="grupo__pais">
                                <label for="pais" class="formulario__label">Pais</label>
                                <div class="formulario__grupo-input">
                                    <input type="text" class="form-control" name="pais" id="pais" >
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese bien el pais.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                           <!-- Grupo: Postal -->
                            <div class="formulario__grupo" id="grupo__postal">
                                <label for="pais" class="formulario__label">Código postal</label>
                                <div class="formulario__grupo-input">
                                    <input type="text" class="form-control" name="postal" id="postal" >
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese un código postal correctamente.</p>
                            </div>
                        </div>

                    </div>

                    <hr class="horizontal dark">

                    <p class="text-uppercase formulario__text">Información laboral</p>

                    <div class="row">
                      
                        <div class="col-md-4">
                            <!-- Grupo: Empresa -->
                            <div class="formulario__grupo" id="grupo__empresa">
                              <label for="empresa" class="formulario__label">Empresa</label>
                              <div class="formulario__grupo-input">
                                  <input type="text" class="form-control" name="empresa" id="empresa" >
                                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                              </div>
                              <p class="formulario__input-error">El campo empresa no deberia llevar números.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                             <!-- Grupo: Cartgo -->
                            <div class="formulario__grupo" id="grupo__cargo">
                              <label for="cargo" class="formulario__label">Cargo</label>
                              <div class="formulario__grupo-input">
                                  <input type="text" class="form-control" name="cargo" id="cargo" >
                                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                              </div>
                              <p class="formulario__input-error">El campo cargo no deberia llevar números.</p>
                            </div>
                        </div>

                    </div>

                </div>

              </div>

          </div>

          <div class="div-center">
            <br>
            <div class="formulario__mensaje mb-4" id="formulario__mensaje">
                <p style="color: white;"><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
            </div>
          </div>

          <br>

          <div class="formulario__grupo formulario__grupo-btn-enviar" style="padding-left: 45%;">
            <button style="color: white;" type="submit" class="btn btn-primary text-center">Agregar usuario</button>
            <br>
            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
          </div>

      </div>
  </form>
</div>

  {% endblock content %}


  {% block javascripts %}
  <script src="{{ url_for('static', filename= 'js/formulario_user-add.js')}}"></script>
  {% endblock javascripts %}
  
  
