<!doctype html>
<html lang="en">
  <head>
    <title>Invex</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'images/Recurso 1@4x.png')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/owl.theme.default.min.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/jquery.fancybox.min.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap-datepicker.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'fonts/flaticon/font/flaticon.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/aos.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css')}}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <a class="navbar-brand" href="/" rel="tooltip" title="INVEX" data-placement="bottom">
              <img width="50%" src="{{ url_for('static', filename= 'images/unnamed (2).png')}}" alt="Invex">
             </a>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <!--<li><a href="#home-section" class="nav-link">Inicio</a></li>
                <li class="">
                  <a href="#about-section" class="nav-link">Sobre nosotros</a>  
                </li>
                
                
                <li><a href="#blog-section" class="nav-link">Blog</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>-->
                <li><a href="#blog-section" class="nav-link">Blog</a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-facebook"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-twitter"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-linkedin"></span></a></li>
                <a href="/login" class="btn  btn-success mr-1 mb-1" style="color: aliceblue;">Login</a>
              </ul>
            </nav>
            
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
     
    <div class="site-blocks-cover overlay" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">

          
          <div class="col-md-10 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <div class="logo-Invex" data-aos="fade-up" data-aos-delay="100" >
                  <img src="{{ url_for('static', filename= 'images/Logo.png')}}" alt="Invex">
                </div>
                <br>
                <P class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">ASSET MANAGEMENT & FINANCIAL CONSULTING SERVICES.</P>
              </div>
            </div>
          </div>
            
        </div>
      </div>

      <a href="#blog-section" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel">POSTS</span>
        </span>
      </a>

      <div class="video-wrap">
        <video autoplay="" loop="" muted="" class="custom-video" poster="">
            <source src="{{ url_for('static', filename= 'video/negocio-125543.mp4')}}" type="video/mp4">

            Your browser does not support the video tag.
        </video>
    </div>

    </div>  


    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Sobre nosotros</h2>
            <strong><p class="lead" data-aos="fade-up" data-aos-delay="100" style="text-align: justify;">Bienvenidos a INVEX, la empresa de gestión de activos y carteras de inversión más prestigiosa de Quito. 
              Nos especializamos en invertir en los mercados de criptomonedas e internacionales. Nuestros servicios son únicos y altamente personalizados para satisfacer las necesidades de cada uno de nuestros selectos clientes en todo el mundo.</p>
            </strong>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="{{ url_for('static', filename= 'images/pexels-tima-miroshnichenko-7567440.jpg')}}" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100" style="padding-top: 5%;">
            
            <!--<h3 class="text-black mb-4">We Solve Your Financial Problem</h3>-->

            <p style="text-align: justify;">En INVEX, entendemos la complejidad de los mercados y nos enorgullece ser líderes en la industria de las finanzas. Nuestro equipo altamente capacitado de expertos en inversión tiene una trayectoria comprobada de éxito en la gestión de activos y en la generación de beneficios rentables para nuestros clientes.</p>

            <p style="text-align: justify;">En lugar de simplemente asesorar a nuestros clientes, nos asociamos con ellos y les ayudamos a alcanzar sus objetivos financieros. </p>
            
          </div>
        </div>    
        
      </div>  
    </div>

    <section class="site-section testimonial-wrap" id="testimonials-section" data-aos="fade" style="padding-top: 0%;">
      <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">
              
              <blockquote class="mb-5">
                <p style="text-align: justify;">Nuestro enfoque es siempre a largo plazo, ya que sabemos que la verdadera riqueza se construye con el tiempo. Ofrecemos una variedad de servicios, incluyendo la gestión de patrimonios y la gestión de carteras de inversión, y nos enorgullece ofrecer a nuestros clientes una experiencia financiera excepcional y exclusiva.</p>
              </blockquote>

            </div>
          </div>
          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p style="text-align: justify;">En INVEX, somos completamente legales, transparentes y confiables, y nuestra base en Quito, Ecuador es un testimonio de nuestro compromiso con la excelencia. Nuestros clientes nos confían la gestión de sus activos porque saben que ofrecemos servicios de primera clase, y esperamos hacer lo mismo por usted. Contáctenos hoy para discutir cómo INVEX puede ayudarlo a alcanzar sus objetivos financieros y tener éxito en los mercados globales.</p>
              </blockquote>
              
            </div>
          </div>

        </div>
    </section>

    <section class="site-section" id="blog-section" style="padding-top: 0%;">
      <div class="container">
        <div class="row mb-4">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Nuestro Blog</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="h-entry">
              <a href="single.html">
                <img src="{{ url_for('static', filename= 'images/img_1.jpg')}}" alt="Image" class="img-fluid">
              </a>
              <h2 class="font-size-regular"><a href="#">Banking is good for business? Why?</a></h2>
              <div class="meta mb-4">Ham Brook <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
              <p><a href="#">Continue Reading...</a></p>
            </div> 
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="h-entry">
              <a href="single.html">
                <img src="{{ url_for('static', filename= 'images/img_4.jpg')}}" alt="Image" class="img-fluid">
              </a>
              <h2 class="font-size-regular"><a href="#">Banking is good for business? Why?</a></h2>
              <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
              <p><a href="#">Continue Reading...</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="h-entry">
              <a href="single.html">
                <img src="{{ url_for('static', filename= 'images/img_3.jpg')}}" alt="Image" class="img-fluid">
              </a>
              <h2 class="font-size-regular"><a href="#">Banking is good for business? Why?</a></h2>
              <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
              <p><a href="#">Continue Reading...</a></p>
            </div> 
          </div>
          
        </div>
      </div>
    </section>

   


    <section class="site-section bg-light" id="contact-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Contactanos</h2>
          </div>
        </div>
        <div class="row mb-5">
          


          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-room d-block h2 text-primary"></span>
              <span>Quito, Ecuador</span>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-phone d-block h2 text-primary"></span>
              <a href="#">+x xxxxxxxxxxxxxxxxx</a>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-0">
              <span class="icon-mail_outline d-block h2 text-primary"></span>
              <a href="#">email@invex.com</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-5">

            

           <!-- <form action="#" class="p-5 bg-white">
              
              <h2 class="h4 text-black mb-5">Contact Form</h2> 

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                </div>
              </div>

  
            </form>-->
          </div>
          
        </div>
      </div>
    </section>

    
    <footer class="site-footer">
      <div class="container">
       <!--<div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#about-section" class="smoothscroll">Terms</a></li>
                  <li><a href="#about-section" class="smoothscroll">Policy</a></li>
                  <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                  <li><a href="#services-section" class="smoothscroll">Services</a></li>
                  <li><a href="#testimonials-section" class="smoothscroll">Testimonials</a></li>
                  <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3 footer-social">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>-->
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <p>Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados 
              </p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="{{ url_for('static', filename= 'js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery-ui.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/popper.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery.countdown.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery.easing.1.3.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/aos.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery.fancybox.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery.sticky.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/main.js')}}"></script>

  
  </body>
</html>