<!doctype html>
<html lang="en">
  <head>
    <head>
      <title>Invex - Login</title>
      <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'images/Recurso 1@4x.png')}}">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'fonts/icomoon/style.css')}}">
  
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/jquery-ui.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/owl.carousel.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/owl.theme.default.min.css')}}">
  
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/jquery.fancybox.min.css')}}">
  
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap-datepicker.css')}}">
  
      <link rel="stylesheet" href="{{ url_for('static', filename= 'fonts/flaticon/font/flaticon.css')}}">
  
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/aos.css')}}">
  
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css')}}">
      
    </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <a class="navbar-brand" href="/" rel="tooltip" title="INVEX" data-placement="bottom">
              <img width="50%" src="{{ url_for('static', filename= 'images/unnamed (1).png')}}" alt="Invex">
             </a>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <!--<li><a href="#home-section" class="nav-link">Inicio</a></li>
                <li class="">
                  <a href="#about-section" class="nav-link">Sobre nosotros</a>  
                </li>
                
                
                <li><a href="#blog-section" class="nav-link">Blog</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>-->
                <li><a href="/#blog-section" class="nav-link">Blog</a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-facebook"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-twitter"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-linkedin"></span></a></li>
                <li href="/login" target="_blank" class="btn  btn-success mr-1 mb-1" style="color: aliceblue;">Login</li>
              </ul>
            </nav>
            
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
     
    <div class="site-blocks-cover overlay" style="background-image: url({{ url_for('static', filename= 'images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg')}});" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">

            <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
                <div class="card card0 border-0">
                    <div class="row d-flex" style="padding-top: 3%;">
                        <div class="col-lg-6">
                            <div class="card1 pb-5">
                                <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                                    <img src="{{ url_for('static', filename= 'images/mario-gogh-VBLHICVh-lI-unsplash.jpg')}}" class="image">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card2 card border-0 px-4 py-5">
                                <form action="/login" method="POST">
                                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                      <div class="row px-3">
                                        <label class="mb-1"><h6 class="mb-0 text-sm">Usuario</h6></label>
                                        <input class="mb-4" type="text" id="username" name="username" placeholder="Usuario">
                                    </div>
                                    <div class="row px-3">
                                        <label class="mb-1"><h6 class="mb-0 text-sm">Contraseña</h6></label>
                                        <input type="password" id="password" name="password" placeholder="Ingresa la contraseña">
                                    </div>
                                    <div class="row px-3 mb-4">
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> 
                                            <label for="chk1" class="custom-control-label text-sm">Recordarme</label>
                                        </div>
                                        <a href="#" class="ml-auto mb-0 text-sm">Olvide mi contraseña</a>
                                    </div>
                                    <div class="row mb-3 px-3">
                                        <button style="color: white;" type="submit" class="btn btn-success text-center">Login</button>
                                    </div>
                                    <div class="row mb-4 px-3">
                                        <small class="font-weight-bold">No tiene cuenta <a class="text-danger ">Contáctanos</a></small>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
      </div>
    </div>  
  </div> <!-- .site-wrap -->

  <script src="{{ url_for('static', filename= 'js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery-ui.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/popper.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery.countdown.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery.easing.1.3.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/aos.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery.fancybox.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery.sticky.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/main.js')}}"></script>

  
  </body>
</html>