{% extends './base.html' %}


<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}


{% block content %}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="lead text-gray-800 mb-5">Usted no es un usuario admin, por favor regresar al</p>
        <a href="/home">&larr; Dashboard</a>
    </div>

</div>

{% endblock content %}


  {% block javascripts %}
  {% endblock javascripts %}
  
  