
{% extends './base.html' %}


<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/formulario.css')}}">
{% endblock stylesheets %}


{% block content %}

<div class="container-fluid py-4">

    {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br />
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

    {% endwith %}


    <main>
        <form id="formulario_pass" action="/password" method="POST" >
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Cambiar contraseña</h1>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <div class="col-md-6">
                                    <!-- Grupo: Password -->
                                    <div class="formulario__grupo" id="grupo__password">
                                        <label for="password" class="formulario__label">Contraseña nueva</label>
                                        <div class="formulario__grupo-input">
                                            <input type="password" class="form-control" name="password" id="password">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
                                    </div>
                                </div>
                                <!-- Grupo: Password_1 -->
                                <div class="col-md-6">
                                    <div class="formulario__grupo" id="grupo__password2">
                                        <label for="password" class="formulario__label">Repetir contraseña</label>
                                        <div class="formulario__grupo-input">
                                            <input type="password" class="form-control" name="password_1" id="password_1">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-center">
                    <br>
                    <div class="formulario__mensaje mb-4" id="formulario__mensaje">
                        <p style="color: white;"><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                    </div>
                </div>
                <br>
                <div class="formulario__grupo formulario__grupo-btn-enviar" style="padding-left: 43%;">
                    <button style="color: white;" type="submit" class="btn btn-primary text-center ">Actuzalizar contraseña</button>
                    <br>
                    <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                </div>
            </div>
        </form>
    </main>
</div>

{% endblock %}



{% block javascripts %}
<script src="{{ url_for('static', filename= 'js/formulario.js')}}"></script>
{% endblock javascripts %}


